<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<section class="footers bg-light pt-5 pb-3">
  <div class="container pt-5">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
        <div class="footers-logo">
          <img src="https://images.vexels.com/media/users/3/142685/isolated/preview/7bb052d41524e9ba69bcea8a27b6e40f-isotipo-origami-letra-p-by-vexels.png" alt="Logo" style="width:120px;">
        </div>
        <div class="footers-info mt-3">
          <p>Pack2Fly is just a TFG App, with no economical intentions. All resources are used with educational purpases only.</p>
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/groups/1051240645406608/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
          <a href="https://twitter.com/Pack2Fly"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
          <a href="https://www.youtube.com/channel/UCBKZMY90Cnk0FGdif0UO3lA"><i id="social-yt" class="fa fa-youtube-square fa-2x social"></i></a>
          <a href="https://www.reddit.com/user/Pack2Fly"><i id="social-em" class="fa fa-reddit fa-2x social"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
        <h5>COVID Info</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/index.html">CDC</a></li>
          <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiBkZ6p7b7wAhW3EWMBHQeuBDgQFjAAegQIBhAD&url=https%3A%2F%2Fec.europa.eu%2Finfo%2Flive-work-travel-eu%2Fcoronavirus-response%2Ftravel-during-coronavirus-pandemic_es&usg=AOvVaw3zSiuGh3AqslC_t_UpxPRz">European Comission</a></li>
          <li><a href="https://travel.state.gov/content/travel/en/traveladvisories/ea/covid-19-information.html">US Traveler Information</a></li>
          <li><a href="https://www.visitsoutheastasia.travel/about/news/covid-19-travel-restrictions/">Asia Restrictions</a></li>
          <li><a href="https://covid19.homeaffairs.gov.au">Australia Restrictions</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
        <h5>Travel Guides </h5>
        <ul class="list-unstyled">
          <li><a href="https://www.visittheusa.com">North America Travel Guide</a></li>
          <li><a href="https://www.lonelyplanet.com/europe">Europe Travel Guide</a></li>
          <li><a href="https://www.nationalgeographic.com/travel/destination/south-america">South America Travel Guide</a></li>
          <li><a href="https://www.theblondeabroad.com/ultimate-africa-travel-guide/">Africa Travel Guide</a></li>
          <li><a href="http://www.asia-holiday.com">Asia Travel Guide</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
        <h5>About My Work </h5>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/jesús-navarro-hernández-622404205/">Who am I?</a></li>
          <li><a href="https://www.ull.es/grados/ingenieria-informatica/">My University</a></li>
          <li><a href="https://www.guru99.com/what-is-software-engineering.html">What do I do?</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
        <h5>About this App </h5>
        <ul class="list-unstyled">
          <li><a href="https://angular.io">Angular</a></li>
          <li><a href="https://nodejs.org/es/">Node</a></li>
          <li><a href="https://developer.mozilla.org/es/docs/Web/JavaScript">Javascript</a></li>
          <li><a href="https://developer.mozilla.org/es/docs/Web/HTML">HTML</a></li>
          <li><a href="https://developer.mozilla.org/es/docs/Web/CSS">CSS</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
<section class="disclaimer bg-light border">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 py-2">
        <small>
          Special thanks to <a href="https://www.sirokko.es/en/">Sirokko Open Source Solutions</a> and it team for all the knowledge share in order to create this app. Every information stored will be deleted once it won´t be used anymore for security reasons. For more information about data treatement, just consult <a href="https://en.wikipedia.org/wiki/Data_processing">Data Processing</a> to learn more about it. We just use the essential information and always keeping it save. The use of the APIs are restringed to just the essentials, in order to avoid any conection problems (too much requests).
        </small>
      </div>
    </div>
  </div>
</section>
<section class="copyright border">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 pt-3">
        <p class="text-muted">© 2021, Susoft INC.</p>
      </div>
    </div>
  </div>
</section>
