<div class="Pantalla">
  <div class="formulario">
    <form class="form-inline" [formGroup]="SearchForm">
      <input type="text" id="Origin"  placeholder="Enter Origin" formControlName="Origin" required>
      <input type="text" id="Destiny" placeholder="Enter Destination" formControlName="Destiny" required>
      <input type="date" id="CheckIn" placeholder="Enter Check-In Date" formControlName="CheckIn" required>
      <input type="date" id="Checkout" placeholder="Enter Check-Out Date" formControlName="Checkout" required>
      <input type="number" id="people" placeholder="Enter Number of People" formControlName="people" required>
      <button type="submit" class="btn btn-white btn-animate" (click)="getPacks();initiate_loading()">Go!</button>
    </form>
  </div>

  <div class="Loader" *ngIf=get_loading()>
    <img class="loading" src="https://media.giphy.com/media/d5klXdfGnQBIQ9P1sp/giphy.gif" width="40%">
  </div>

  <div *ngIf=check_packs() class="column menu">

    <div class="botones-ordenacion">
      <div class="boton-orde"><button class="btn btn-white btn-animate" type="submit" (click)="sort_price()">Sort by Cheaper</button></div>
      <div class="boton-orde"><button  class="btn btn-white btn-animate" type="submit" (click)="sort_price_puntuation()">Sort by Quality-Price</button></div>
      <div class="boton-orde"><button  class="btn btn-white btn-animate" type="submit" (click)="sort_price_expensive()">Sort by More Expensive</button></div>
      <div class="boton-orde"><button  class="btn btn-white btn-animate" type="submit" (click)="sort_puntuation()">Sort by Better Puntuation</button></div>
    </div>

    <div class="botones-ordenacion">
      <button class="btn btn-white btn-animate" type="submit" (click)="check_filter()">Check Filters</button>
    </div>

    <div *ngIf="get_filter()" class="botones-ordenacion">
      <h2>Filters</h2>

      <form class="formulario" [formGroup]="PriceForm">
        <input type="number" id="min" placeholder="Enter Min" formControlName="minprice">
        <input type="number" id="max" placeholder="Enter Max" formControlName="maxprice">
        <input type="text" id="hotelname" placeholder="Enter Query" formControlName="hotelname">

        <button type="submit" class="btn btn-white btn-animate" (click)="filter_by_price_range()">Price Range</button>
        <button type="submit" class="btn btn-white btn-animate" (click)="filter_by_puntuation_range()">Puntuation Range</button>
        <button type="submit" class="btn btn-white btn-animate" (click)="filter_by_hotel()">Query</button>
      </form>


    </div>

     <ul class="list-group" *ngFor="let pack of packs; let i = index">
        {{hide_loading()}}
       <li class="list-group-item">Flight {{pack.flight.Airline}}, {{pack.flight.LandMarkName_Origin}} - {{pack.flight.LandMarkName_Destination}} for {{pack.flight.minPrice}} Dolars </li>
       <li class="list-group-item">Stay at {{pack.hotel.name}}, with {{pack.hotel.Star_rating}} / {{pack.hotel.scale}} Stars</li>
       <li class="list-group-item">
         <p *ngFor="let places of pack.places; let j = index">Visit {{places.name}}</p>
       </li>
       <li class="list-group-item">For just {{pack.price}} € !</li>
       <button class="btn btn-white btn-animate" type="submit" (click)="seePackInfo(i)">Check Pack</button>
       <button class="btn btn-white btn-animate" type="submit" (click)="save_pack(i)">Save Pack</button>

       <ul *ngIf=check_info(i)>
         <h2>Pack Info</h2>
         <li class="list-group-item"> Flight Airline: {{pack.flight.Airline}}</li>
         <li class="list-group-item"> Destination City: {{pack.flight.City_Destination}}</li>
         <li class="list-group-item"> Destination Country: {{pack.flight.Country_Destination}}</li>
         <li class="list-group-item"> Origin City: {{pack.flight.City_Origin}}</li>
         <li class="list-group-item"> Origin Country: {{pack.flight.Country_Origin}}</li>
         <li class="list-group-item"> Departure Date: {{pack.flight.DepatureDate}}</li>
         <li class="list-group-item"> Flight Price: {{"$"+pack.flight.minPrice + " each " }}</li>
         <p></p>
         <li class="list-group-item"> Hotel Name: {{pack.hotel.name}}</li>
         <li class="list-group-item"> Hotel Rating: {{pack.hotel.Star_rating}} / {{pack.hotel.scale}} </li>
         <li class="list-group-item"> Hotel Address: {{pack.hotel.address}}</li>
         <li class="list-group-item"> Guest Rating: {{pack.hotel.guest_rating}}</li>
         <li class="list-group-item"> Hotel Price: {{pack.hotel.current_price + " each "}}</li>
         <p></p>
         <li class="list-group-item">
           <p *ngFor="let places of pack.places; let j = index"> Place Name: {{places.name}}, Latitude: {{places.latitude}}, Longitude: {{places.longitude}}</p>
         </li>
         {{reset_info(i)}}
       </ul>
     </ul>
  </div>
</div>
