<div class="Pagina">
<div class="texto">
  <h2>What is Pack2Fly?</h2>
  <p >Pack2Fly is an online aplication for travelers. Our goal is very simple: Help the user to get their perfect holidays.
  is it a really easy way to get everything done. It will perform the whole searching for you, all at once. </p><br>
  <h2>How does it works?</h2>
  <p>It is very easy! You just need to enter your origin, your destination, the dates of checking and checkout and the
  number of people that will travel. Then, we will offer you all the packs we have found with that requirements. Just
  as simple as that!</p><br>
  <h2>Don´t know what you want?</h2>
  <p>Don´t worry! We know sometimes you just can´t decided where do you want to go, so, to make it easier for you, we have
  created some options for you that are based on other opinions or related to your likes. That way, you could find
  your next travel really fast, without driving yourself crazy!</p><br>
  <h2>Don´t forget to Sign In!</h2>
  <p>In order to offer you related travels, you should sign in. That way, you will be able to save packs you like if you
  are not sure enough so you can watch them later. You could have all the information into your account, so you can access
  it whenever you want. Furthermore, you will gain points for each pack purchased! You can change them for free packs. Isn´t it awesome?
  </p><br>
</div>

<div class="boton">
  <h2>Still have any doubt?</h2>
  <p>Don´t worry, just contact us. We will so pleased to help you.</p>
  <a mat-list-item href="/contact-form" class="btn btn-primary">Contact Us</a>
</div>
</div>

